{% extends 'base.html' %}
{% load static %}

{% block talent_active %}active{% endblock %}
{% block title %} Applicants {% endblock %}

{% block body %}




        <!-- Jobs Start -->
        <div class="container-xxl py-5">
            <div class="container">
                <div class="card mb-5">
                    <div class="card-body">
                        <h3 class="text-center wow fadeInUp" data-wow-delay="0.1s">Applicants For {{ get_job.Job_title }}</h3>
                    </div>
                </div>
                <div class="tab-class text-center wow fadeInUp" data-wow-delay="0.3s">

                    <div id="tab-1" class="tab-pane fade show p-0 active">
                        {% if Job_Apply_filtr %}
                            {% for talent in Job_Apply_filtr %}
                            <div class="job-item p-4 mb-4">
                                <div class="row g-4">
                                    <div class="col-sm-12 col-md-8 d-flex align-items-center">
                                        <img class="flex-shrink-0 img-fluid border rounded" src="{% if talent.Job_Seeker.Your_image %}{{talent.Job_Seeker.Your_image.url}}{% else %}{% static 'img/user_img.png' %}{% endif %}" alt="" style="width: 80px; height: 80px;">
                                        <div class="text-start ps-4">
                                            <h5 class="mb-3">{{talent.Job_Seeker.user.first_name}} {{talent.Job_Seeker.user.last_name}}</h5>
                                            <i class='fas fa-award' style="color:green;"></i> <b>{{talent.Job_Seeker.designation}}</b> <span class="text-truncate me-3"><i class="fa fa-map-marker-alt text-primary me-2"></i>{{talent.Job_Seeker.Location}}</span>

                                        </div>
                                    </div>
                                    <div class="col-sm-12 col-md-4 d-flex flex-column align-items-start align-items-md-end justify-content-center">
                                        <div class="d-flex mb-3">

                                            <a class="btn btn-primary" href="{% url 'applicant_details' talent.id %}">Details</a>
                                        </div>

                                    </div>
                                </div>
                            </div>
                            {% endfor %}

                        {% else %}

                        <h3>No Applied For This Job !</h3>

                        {% endif %}



<!--                            <a class="btn btn-primary py-3 px-5" href="">Browse More Jobs</a>-->
                        </div>
                </div>
            </div>
        </div>
        <!-- Jobs End -->
{% endblock %}