
{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block title %}Post A Job{% endblock %}

{% block body %}

<style>
	.profile-pic{
		max-width: 200px;
		max-height:200px;
		margin: 0 auto;
		border-radius: 50%;
	}
</style>





        <!-- Contact Start -->
        <div class="container-xxl py-5">
            <div class="container">
                <h1 class="text-center mb-5 wow fadeInUp" data-wow-delay="0.1s">Post Job</h1>
                <div class="row g-4">

                    <div class="col-md-2 wow fadeInUp" data-wow-delay="0.1s">
                        <div class="card card-body">

                            <hr>
                            <img src="{% if get_usr_job_provider.company_logo %}{{get_usr_job_provider.company_logo.url}}{% else %}{% static 'img/user_img.png' %}{% endif %}" class="rounded profile-pic" alt="user" style="width:100%;">
                            <h5 class="container text-center"><b></b></h5>
                        </div>
                    </div>
                    <div class="col-md-10">
                        <div class="wow fadeInUp" data-wow-delay="0.5s">
                            <div class="card card-body">
                                <form method="POST" action="{% url 'post_a_job' %}" enctype="multipart/form-data">{% csrf_token %}
                            <table class="table container">
                                    {{ form.media }}
                                    {{ form|crispy }}


                            </table>
                                    <button class="btn btn-success">Post</button>
                                </form>
                        </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Contact End -->




{% endblock %}